<div fxLayout="column" class="zero fullScreen" fxLayoutAlign="center center">
  <div fxFlex="33" class="one">
    <mat-card class="auth-card">
        <app-signup *ngIf="!useLoginComponent"></app-signup>
        <app-signin *ngIf="useLoginComponent"></app-signin>
      <mat-card-footer>
        {{useLoginComponent ? 'Don\'t have' : "Already have"}} an account?
        <button mat-button (click)="switchComponent()"> Click here</button>
        Sign in with
        <button mat-button (click)="switchComponent()"> Facebook</button>
        <button mat-button (click)="googleAuth()"> Google</button>

      </mat-card-footer>
    </mat-card>
  </div>
</div>
