<br>
<mat-card-content>
  <form class="example-form" fxFlexFill [fxLayout]="'row'"
        fxLayoutAlign="center start"
     #userProfileForm="ngForm">
    <mat-card>
      <mat-card-content [fxLayout]="'column'" fxFlex="600px">
        <div *ngIf="changingImage" [fxLayout]="'column'">
          <input type="file" (change)="fileChangeEvent($event)" />

          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth]="128"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>

          <img [src]="croppedImage" />
        <button fxLayoutAlign="center center"
                mat-button color="primary"
                type="button"
                (click)="saveNewImage()">Save</button>
        </div>
        <div *ngIf="!changingImage"  [fxLayout]="'column'">
          <h3>  User Profile </h3>
          <div fxFlex="100" [fxLayout]="'row'">
            <div [fxLayout]="'column'">
              <img fxFlex="128px" [src]="savedImage?croppedImage: 'http://placehold.it/128x128'" >
<!--              class="profile-img">-->
              <button
                fxLayoutAlign="center center"
                mat-button color="primary"
                type="button"
                (click)="changingImageClick()"
              >Change Image</button>
            </div>
            <mat-form-field>
            <input
                 matInput
                 fxFlex="100"
                 minlength="5"
                 placeholder="Display Name"
                 name="displayName"
                 [fxLayout]="'column'">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end" [fxLayout]="'row'"  >
        <button *ngIf="!changingImage" type="submit"
                mat-icon-button
                color="primary"

                [disabled]="!userProfileForm.form.valid">
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-card-content>
